<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
      <ion-item *ngFor="let item of transactionList; let index">
          <ion-label>{{ item["date"] }} {{item["category"]}} {{item["amount"] }}</ion-label>
      </ion-item>
  </ion-list>

  <ion-button (click)="printSum()">PrintSum</ion-button>
</ion-content>
